<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}S.H.I.L.D{% endblock %}</title>
    <!-- Link para o Bootstrap CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'bootstrap-5.3.3/css/bootstrap.css' %}">
    <style>
        body {
            background-color: red;
        }
        .navbar {
            margin-bottom: 20px;
        }
        .navbar-brand {
            margin-left: 10px; /* Adiciona um pequeno espaço à esquerda */
        }
        .highlight {
            color: red; /* Define a cor roxa */
        }
        footer {
            background-color: #f8f9fa; /* Cor de fundo suave */
            padding: 20px 0; /* Espaçamento interno */
            margin-top: 40px; /* Espaçamento superior */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> <span class="highlight">Dinastia M</span> - Onde as lendas surgem e suas historias são contadas</a>
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link">Home</a>
                </li>
                <!-- Dropdown de Personagens -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="personasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Personagens
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="personasDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar-personagens' %}">Meu Esquadrão</a></li>
                        <li><a class="dropdown-item" href="{% url 'criar-personagens' %}">Adicionar Personagem</a></li>
                    </ul>
                </li>
                <!-- Dropdown Historias -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Histórias
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'listar-historias' %}">Minha biblioteca</a></li>
                        <li><a class="dropdown-item" href="{% url 'criar-historias' %}">Adicionar historias</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        <!-- Conteúdo específico de cada página será inserido aqui -->
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h5>Sobre Marvel QG</h5>
                    <p>
                        Marvel QG: Seu universo Marvel personalizado. Crie sua própria enciclopédia de super-heróis e vilões. 
                        Organize suas histórias favoritas, compare os poderes dos personagens e construa seu próprio ranking de força. 
                        Tudo em um só lugar e do seu jeito!
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Link para o Bootstrap JS e dependências -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
