{% extends 'persona/base.html' %}
{% load static %}

{% block title %}Listagem de Personagens{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<style>
    .card {
        border: 1px solid #000; /* Define uma borda preta */
    }
    .btn-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
</style>

<div class="container mt-5">
    <h2 class="text-center mb-4">Lista de Personagens da MARVEL com nome no SERASA</h2>

    <div class="row">
        
        {% for persona in personas %}
        
        <div class="col-md-4 mb-4">
            <div class="shadow card h-100">

                
                {% if persona.foto %}
                <img src="{{ persona.foto.url }}" class="card-img-top" alt="Foto do {{ persona.nome }}">
                {% else %}
                Personagem sem foto
                {% endif %}
                
                <div class="card-body">
                    <h5 class="card-title">{{ persona.get_alinhamento_display }} - {{ persona.nome }}</h5>
                    <p class="card-text"><strong>Grupo:</strong> {{ veiculo.get_grupo_display }}</p>
                    <p class="card-text"><strong>Raça:</strong> {{ veiculo.get_raca_display }}</p>
                    <p class="card-text"><strong>Poderes:</strong> {{ veiculo.poderes }}</p>
                    <p class="card-text"><strong>ID:</strong> {{ veiculo.id }}</p>

                    <!-- Botões de editar e deletar -->
                    <div class="d-flex justify-content-between">
                        <a href="/veiculo/{{veiculo.id}}/" class="btn btn-primary">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="/veiculo/deletar/{{veiculo.id}}" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Nenhum veículo cadastrado.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
