{% extends 'persona/base.html' %}
{% load static %}

{% block title %}Edição do personagem{% endblock %}

{% block content %}

<form action="/historia/{{object.pk}}/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="row g-3">
        <!-- Nome -->
        <div class="col-md-6">
            <label for="nome" class="form-label">
                <i class="fas fa-user"></i> Nome
            </label>
            <div class="input-group">
                {{ form.nome }}
            </div>
        </div>

        <!-- Grupos -->
        <div class="col-md-6">
            <label for="grupos" class="form-label">
                <i class="fas fa-users"></i> Descrição
            </label>
            <div class="input-group">
                {{ form.descricao }}
            </div>
        </div>

        <!-- Personagens -->
        <div class="col-md-6">
            <label for="raça" class="form-label">
                <i class="fas fa-dragon"></i> Personagens
            </label>
            <div class="input-group">
                {{ form.personagens }}
            </div>
        </div>

        <!-- Autor -->
        <div class="col-md-6">
            <label for="alinhamento" class="form-label">
                <i class="fas fa-balance-scale"></i> Autores
            </label>
            <div class="input-group">
                {{ form.autores }}
            </div>
        </div>

        <!-- Descrição -->
        <div class="col-md-12">
            <label for="descricao" class="form-label">
                <i class="fas fa-info-circle"></i> Ilustradores
            </label>
            <div class="input-group">
                {{ form.ilustradores }}
            </div>
        </div>

        <!-- Poderes -->
        <div class="col-md-12">
            <label for="poderes" class="form-label">
                <i class="fas fa-magic"></i> Data de Lançamento
            </label>
            <div class="input-group">
                {{ form.data_de_lancamento }}
            </div>
        </div>


        <!-- Favorito -->
        <div class="col-md-12">
            <label for="descricao" class="form-label">
                <i class="fas fa-info-circle"></i> Favorito
            </label>
            <div class="input-group">
                {{ form.favorito }}
            </div>
        </div>


        <!-- Foto -->
        <div class="col-md-6">
            <label for="foto" class="form-label">
                <i class="fas fa-camera"></i> Foto
            </label>
            <div class="input-group">
                {{ form.foto }}
            </div>
        </div>


    </div>


            <div class="d-flex justify-content-center mt-5">
                <button type="submit" class="btn btn-success btn-lg">
                    <i class="fas fa-check-circle"></i> Atualizar
                </button>
            </div>

{% endblock %}